 <%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>
  <!--Main Content-->
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <p> This is where the crud operations should have shown up but they didnt so :(<p>
   <div class="container">
    <div class="row">
        <div class="offset-md-3 col-md-6">
            <h1><%= title %></h1>
            <form class="form" method="POST">
                <!-- Input for Type of Fruit -->
                <div class="form-group">
                    <label for="Type_of_Fruit">Type of Fruit</label>
                    <input type="text" class="form-control" id="Type_of_Fruit" placeholder="Enter the Type of Fruit or Vegetable" name="Type_of_Fruit_or_Vegetable" required>
                </div>
                <!-- Input for Seeds -->
                <div class="form-group">
                    <label for="Seeds">Seeds</label>
                    <input type="text" class="form-control" id="Seeds" placeholder="E.g., Yes or No" name="Seeds" required>
                </div>
                <!-- Input for Organic -->
                <div class="form-group">
                    <label for="Organic">Organic</label>
                    <input type="text" class="form-control" id="Organic" placeholder="E.g., Yes or No" name="Organic" required>
                </div>
                <!-- Input for Pounds -->
                <div class="form-group">
                    <label for="Pounds">Pounds</label>
                    <input type="number" class="form-control" id="Pounds" placeholder="Enter the pounds of fruit you want" name="Pounds" required>
                </div>
                <!-- Input for Cost -->
                <div class="form-group">
                    <label for="Cost">Cost</label>
                    <input type="number" class="form-control" id="Cost" placeholder="Enter the cost of the fruit" name="Cost" required>
                </div>
                <!-- Buttons for Submit and Cancel -->
                <button class="btn btn-primary" type="submit">Submit <i class="fas fa-edit"></i></button>
                <button class="btn btn-warning" type="button" onclick="window.location.href='/fruitslist'">Cancel <i class="fas fa-undo"></i></button>
            </form>
        </div>
    </div>
</div>

<%- include ../Partials/footer.ejs %>