<%- include ../Partials/header.ejs %>
<%- include ../Partials/main_nav.ejs %>

<main class="container">
    <div class="row">
        <div class="offset-md-1 col-md-10">
            <h1><%= title %></h1>
            <br>

            <% if (typeof displayName === 'string' && displayName) { %>
                <a href="/fruitslist/add" class="btn btn-primary" role="button">
                    <i class="fas fa-plus-circle"></i> Add Fruit
                </a>
            <% } %>

            <table class="table table-bordered table-striped table-hover">
                <thead>
                    <tr class="d-flex">
                        <% if (typeof displayName === 'string' && displayName) { %>
                            <th class="text-center col-2">Type_of_Fruit_or_Vegetable</th>
                            <th class="text-center col-2">Seeds</th>
                            <th class="text-center col-1">Organic</th>
                            <th class="col-4">Pounds</th>
                            <th class="text-center col-1">Cost</th>
                            <th class="text-center col-1">Actions</th>
                        <% } else { %>
                            <th class="text-center col-2">Type_of_Fruit_or_Vegetable</th>
                            <th class="text-center col-2">Seeds</th>
                            <th class="text-center col-1">Organic</th>
                            <th class="col-4">Pounds</th>
                            <th class="text-center col-1">Cost</th>
                        <% } %>
                    </tr>
                </thead>
                <tbody>
                    <% for (let count = 0; count < fruitList.length; count++) { %>
                        <tr class="d-flex">
                            <td class="text-center col-2"><%= fruitList[count].Type_of_Fruit_or_Vegetable %></td>
                            <td class="text-center col-2"><%= fruitList[count].Seeds %></td>
                            <td class="text-center col-1"><%= fruitList[count].Organic %></td>
                            <td class="col-4"><%= fruitList[count].Pounds %></td>
                            <td class="text-center col-1"><%= fruitList[count].Cost %></td>

                            <% if (typeof displayName === 'string' && displayName) { %>
                                <td class="text-center col-1">
                                    <a href="/fruitslist/edit/<%= fruitList[count]._id %>" class="btn btn-primary btn-sm">
                                        <i class="fas fa-pencil-alt"></i> Edit
                                    </a>
                                </td>
                                <td class="text-center col-1">
                                    <a href="/fruitlist/delete/<%= fruitList[count]._id %>" class="btn btn-danger btn-sm">
                                        <i class="fas fa-trash-alt"></i> Delete
                                    </a>
                                </td>
                            <% } %>
                        </tr>
                    <% } %>
                </tbody>
            </table>
        </div>
    </div>
</main>

<%- include ../Partials/footer.ejs %>